body {
    font-family: 'Arial', sans-serif;
    color: #fff; /* Texto blanco */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Evitar desplazamiento */
    height: 100vh;
    margin: 0;
    background-image: url('media/pared-textura-hormigon-azul-marino-solido_53876-124584.avif'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta el tamaño para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; 
}

header {
    padding: 20px;
    animation: fadeIn 1s ease-in-out; /* Animación de entrada */
}


main {
    flex: 1; /* Permitir que el main ocupe el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}


 /* ESTILO LOGIN.HTML */

h1.titulo {
    font-size: 150px; 
    color: #f8d34d;  
}

.content {
    display: flex; 
    align-items: center; 
}

h2 {
    font-size: 30px; 
    color: hsl(0, 0%, 100%); 
    text-align: center; 
    margin: 20; 
    padding-right: 100px; 
}

.caja {
    background-color: #5c75b0; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 50px; 
    width: 80%;
    max-width: 500px; 
    min-height: 400px; 
    color: #fff; 
    text-align: center; 
    margin-left: auto; 
}

.caja h2 {
    font-size: 50px; 
    margin-bottom: 30px; 
}

.caja form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja input[type="text"],
.caja input[type="password"] {
    width: 95%; 
    padding: 15px; 
    margin: 15px 0; 
    border-radius: 8px; 
    border: none;
    font-size: 18px; 
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.caja button {
    width: 95%; 
    padding: 18px; 
    background-color: #4a5b8f; 
    color: #fff;
    border: none;
    border-radius: 8px; 
    font-size: 18px; 
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.caja button:hover {
    background-color: #3b4970; 
}

/* Estilo para el enlace de registro */
.caja .register-link {
    margin-top: 30px; 
}

.caja .register-link p {
    font-size: 16px; 
}

.caja .register-link a {
    color: #ffeb3b; 
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; 
}

.caja .register-link a:hover {
    text-decoration: underline;
}


/* ESTILO SIGNUP.HTML*/

.caja2 {
    background-color: #4a5b8f; 
    border-radius: 20px; 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); 
    padding: 50px; 
    width: 95%; 
    max-width: 800px; 
}

label {
    font-size: 25px;
    color: hsl(0, 0%, 100%); 
    display: block; 
    margin-bottom: 15px; 
}



input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    border: 3px solid #5c7db0; 
    border-radius: 10px; 
    padding: 20px; 
    margin-top: 10px; 
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #254441;
    font-size: 25px; 
    transition: border-color 0.3s;
}

/* Estilo de enfoque para los inputs */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    border-color: hwb(209 29% 14%);
    outline: none;
   
    
}

/* Estilo para el checkbox */
input[type="checkbox"] {
    margin: 15px 0; 
    transform: scale(1.5); 
}


button {
    background-color: #f8d34d;
    color: #fff;
    border: none;
    border-radius: 10px; 
    padding: 20px; 
    width: 100%;
    font-size: 1.5em; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px; 
    
}
section#botonera {
display: none;
}

section#graficaContainer {
    margin-top: 10px;
    border-radius: 8px;
    display: none;
    background-color: #fff;
    opacity: 0;
    padding: 2%;
}

button:hover {
    background-color: #ae9436;
}

/* Estilo para el botón de Google */
#googleLogin {
    background-color: hsl(162, 43%, 46%);
    font-size: 1.5em; 
    padding: 20px; 
}

#googleLogin:hover {
    background-color: #254441;
}


#login {
    text-align: center;
    margin-top: 30px; 
}


h1 {
    font-size: 3em; 
    color: #f8d34d;
    margin-bottom: 20px; 
}


p {
    font-size: 1.5em;
    margin-bottom: 30px; 
}


.start-button {
    background-color: #43AA8B;
    color: #fff;
    padding: 25px 50px; 
    border-radius: 10px; 
    text-decoration: none;
    font-size: 1.5em; 
    transition: transform 0.3s, background-color 0.3s;
}

.start-button:hover {
    background-color: #DB504A;
    transform: scale(1.2); 
}

.features {
    margin-top: 50px; 
}

.feature-item {
    background-color: #B2B09B;
    border-radius: 15px; 
    padding: 30px; 
    margin: 20px 0; 
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: translateY(-10px); 
}

footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: #f8d34d;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

/* ESTILOS QUIZ.HTML */


.preguntas {
    text-align: center; 
    margin-bottom: 200px; 
}

#pregunta-texto {
    font-size: 80px; 
    color: white; 
    margin: 0; 
    padding: 60px; 
}

#opciones-lista {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    list-style: none; 
    padding: 0; 
}

#opciones-lista li {
    border: 2px solid #5c7db0; 
    border-radius: 10px; 
    padding: 40px; 
    margin: 20px; 
    flex: 0 1 calc(45% - 20px); 
    box-sizing: border-box; 
    color: white; 
    font-size: 50px; 
    transition: background-color 0.3s; 
}

/* Diferentes colores de fondo para las respuestas */
#opciones-lista li:nth-child(1) {
    background-color: rgb(220, 237, 89); 
}

#opciones-lista li:nth-child(2) {
    background-color: hsl(180, 67%, 55%); 
}

#opciones-lista li:nth-child(3) {
    background-color: hwb(155 3% 22%); 
}

#opciones-lista li:nth-child(4) {
    background-color: #ef1f53; 
}







